html, body, .h-full
{
    height: 100%;
}
#image-holder
{
    background-size: cover;
    position: relative;
}
#splash
{
    padding:30px;
    position: absolute;
    bottom: 50px;
    color:#fff;
    display: block;
    width: 90%;
    margin:0 5%;
    border-radius: 15px;
}
#splash #logo
{
    width: 100%;
    border-radius: 50%;
}
.auth-icon
{
    font-size: 4rem;
    color:#fff;
}
