.card-header {
    border-bottom: 1px solid #ececec;
}
.card-header:has(.nav-tabs)
{
    padding-bottom: 0 !important;
}
.card-header .nav-tabs
{
    border-bottom: 0;
}
.card-title {
    margin: 0;
}
.form-group
{
    margin-bottom: 0.4rem;
}
.sidebar [data-bs-toggle=collapse]:after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: " ";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
