.select2
{
    width: 100% !important;
}
.select2-selection
{
    height: auto !important;
}
.fade:not(.show) {
    opacity: 0;
    display: none;
}
.fade {
    transition: opacity 0.15s linear;
}


.dropify-message .file-icon p {
    font-size: 10pt;
}
.brand-sm {
    padding-top: 10px;
    width: 80% !important;
}
.tox-statusbar__branding
{
    display: none;
}


h1, h2,h3,h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700;900&display=swap');
body {
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}
