@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
body
{
    font-family: 'Rajdhani', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', sans-serif;
}
#main
{
    overflow-x: hidden;
}
.register-form input {
    padding: 15px 15px;
    font-size: 14px;
    color: #d7d7d7;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px #ccc;
}

.register-form {
    background: #fff;
    padding: initial;
    box-shadow: 1px 1px 9px #ccc;
    width: auto;
    margin: auto;
}

.carousel-indicators .active::before, .carousel-item.active::before
{
    width: 0 !important;
}
#about-header
{
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.grecaptcha-badge { visibility: hidden; }
