
/*--------------------------------------------------------------
# Set main reusable colors and fonts using CSS variables
# Learn more about CSS variables at https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
--------------------------------------------------------------*/
/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #E9B70B;
  --color-secondary: #37373f;
  --color-bg:#F8F8F8;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: #f8f8f8;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #ec2727;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
.dbtn{
  background: var(--color-primary);
  color: var(--color-default);
  width: 100%;
  padding: 13px;
  border: 0px;
}
.dbtn.small{
  padding: 8px;
  width: 110px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/

.sidemenu {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 100%;
  box-shadow: 1px 1px 4px #ccc;

  background-color: #fff !important;
}
.sidemenu ul{
}
.sidemenu ul li{border: 0;}
.sidemenu ul li a{
    background: #fff !important;
    border-bottom: 0 !important;
    margin-bottom: 10px;
}
.sidemenu ul li a i{
  color: #8E8E8E;
  font-size: 32px;
}
.sidemenu ul li a:hover,
.sidemenu ul li a:active{
  border-right: 4px solid var(--color-primary);
  color:var(--color-primary);
}
.sidemenu ul li a:hover i,
.sidemenu ul li a:active i{
  color:var(--color-primary);
}
.sidemenu ul li a.active{
  border-right: 4px solid var(--color-primary);
  color:var(--color-primary);
}
.sidemenu ul li a.active i{
  color:var(--color-primary);
}
.sidemenu ul li button{
  background: none;
border: none;
color: #8E8E8E;
font-size: 35px;
}
.sidemenu ul li button:hover{
  background-color: #fff !important;
color: var(--color-primary) !important;
}
.sidemenu ul li button span{
  font-size: 12px;
top: 17px !important;
left: 48px !important;
}

.logo{
    margin-bottom: 30px;
    background: #fff;
}
.main .content{
    margin-bottom: 50px;
    margin-top: 50px;
    min-height: 700px;
}
.leftside{
  padding: 20px;
  background: #fff;
  /*max-width: 300px !important;*/
  padding-bottom: 30px;

}
.leftside h3{
  font-size: 20px;;
}
.leftside img{
  width: 100%;
}
.leftside p{
  padding-top:20px;
}
.buttons{
  width: 100%;
    border-radius: 0;
    color: #000;
    background: var(--color-primary);
    border: 0;
    padding: 12px;
}
.contentTabs{
    margin-top: 40px;
}
.contentTabs ul{
  margin-bottom: 30px;
  border: 0;
}
.contentTabs ul li button{
    border: 0 !important;
    border-radius: 5px !important;
    padding: 12px 24px;
    color: #000;
    background: #fff !important;
    margin-right: 20px;
}
.contentTabs ul li button.active{
  background: var(--color-primary) !important;
  color: var(--color-default) !important;
}
.contentTabs ul li button i{
  margin-right: 20px;
}

/*--------------------------------------------------------------
# Design Cards
--------------------------------------------------------------*/

.design-card .card{
  border: 0;
  box-shadow: 3px 3px 7px #b8b8b8;
  margin-bottom: 25px;
  margin-right: 0px;
}
.design-card .card .card-title a{
  color: var(--color-default);
}
.design-card .card img{
  padding: 10px;
}
.recommendation{}
.recommendation .carousel{width: 100%;height: 200px;overflow: hidden;box-shadow: 2px 1px 5px #b0b0b0;border-radius: 7px;border: 10px solid #fff;}
.recommendation h3{margin-bottom: 20px;color: #000;}
.recommendation img{width: 100% !important;}
.recommendation span{position: absolute;margin-top: 0;margin-left: 30px;}
.recommendation span a{color: #fff;text-decoration: underline;}
.cardbox .card-text{color:#000;font-size:14px;}
.recommendation .carousel-inner {
  height: 180px;
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {


}
.searchicon{
  background: #fff;
  border: 0;
  border-radius: 0;
  line-height: 40px;
}
.searchinput{
  border: 0;
  border-radius: 0;
  line-height: 40px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery{}
.gallery h3{}
.gallery ul{list-style: none;margin: 0;padding: 0;}
.gallery ul li{float: left;width: 33.333%;padding: 15px 20px 0 0;}
.gallery ul li span{color: #fff;font-size: 40px;position: absolute;margin-left: 210px;margin-top: 10px;}
.gallery ul li img{width: 100%;border: 10px solid #fff;box-shadow: 3px 2px 4px #b7b7b7;border-radius: 6px;}
.box.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.4s, transform 0.35s;
}
.nominated{margin-top: 40px;}
.nominated .card {
  padding: 10px;
}
.nominated img {
  border-radius: 100%;
  margin-top: 18px;
  min-height: 45px;
  min-width: 45px;
  width: 45px;
  height: 45px;
}
.nominated .stars{margin-bottom: 10px;}
.nominated .stars .bi-star-fill,
.nominated .stars .bi-star{color:var(--color-primary);}

.nominated .id{font-size: 14px;color: #9d9d9d;margin-bottom: 2px;}
.nominated h3{margin-bottom: 20px;}


.success-message{
  text-align: center;
  margin-top: 50px;
}
.success-message i{
  color: #06d562;
  font-size: 70px;
}
.success-message h4{
  font-size: 18px;
}


/*--------------------------------------------------------------
# notifications
--------------------------------------------------------------*/
.notifications .accordion-item{border: 0;}
.notifications .card{
    background: #f8f8f8;
    border: 0;
    box-shadow: 1px 1px 6px #c3c3c3;
}
.notifications .accordion-button{
  background: #f8f8f8;
  width: 141px;
  border-radius: 0 !important;
  border: 0;
  color: #000;
  box-shadow: none;
}
.notifications .accordion-header{background: #f8f8f8;border: 0;}
.notifications .card .card-title{
    font-size: 16px;
    margin-top: 2px;
}
.notifications button.small{
  float: right; margin-right: 10px;
}
.notifications img{
    border-radius: 100px;
    height: 53px;
    width: 53px;
    margin-left: 12px;
    margin-top: 18px;
}
.notifications .card p{
    font-size: 14px;
    padding: 0;
}
.notifications .accordion .accordion-body{
    font-size: 14px;
    background: #f8f8f8;
    border: 0;
}
.notifications .accordion-body .bold-orange{
    font-weight: bold;
    color: #e9b70b;
}
.notifications .accordion-body p{
    float: left;
    margin-right: 8px;
    font-size: 14px;
    margin-top: 7px;
}
.notifications .accordion-body i{
    float: left;
    margin-right: 6px;
    font-weight: bold;
    font-size: 26px;
}





/*--------------------------------------------------------------
# Terms of deal
--------------------------------------------------------------*/
.main.terms .content{margin-right: 30px;}

.agree-a4{
  background: #fff;
  padding: 40px;
  box-shadow: 1px 8px 9px #9b9b9b;
  margin-top:60px;
  margin-bottom: 30px;
  /* margin-left: 100px;; */
}

.agree-a4 h2{margin-top: 40px;}
.agree-a4 p{font-size: 14px;}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  text-align: center;
}


/*--------------------------------------------------------------
# Login & Register
--------------------------------------------------------------*/

body.login .sidemenu,
body.login .leftside{
  display: none !important;
}
body.login .content,
body.login .footer{
  margin-left: 30px;
  margin-right: 30px;
}



.login-form{
  background: #fff;
  padding: 40px;
  box-shadow: 1px 1px 9px #ccc;
  width: 460px;
  max-width: 100%;
}
.login-form h2 span{
  color: #e9b70b;
}
.login-form p{
  color: #ccc;
  font-size: 14px;
  text-align: ce;
}
.login-form ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.login-form ul li{
  margin-right: 20px;
  display: inline;
  border: 1px solid #ccc;
  padding: 6px 10px;
}
.login-form .create-new{
  text-align: center;
  color: #0e77e3;
  margin-top: 34px;
}
.login-form .login-with{
  text-align: center;
  margin: 26px 25px;
  color: #585858;
}







.register-form{
  background: #fff;
  padding: 40px;
  box-shadow: 1px 1px 9px #ccc;
  margin: 0 auto;
}
.register-form h2 span{
  color: #e9b70b;
}
.register-form p{
  color: #ccc;
  font-size: 14px;
  text-align: ce;
}
.register-form form ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.register-form form ul li{
  margin-right: 20px;
  display: inline;
  border: 1px solid #ccc;
  padding: 6px 10px;
}
.register-form .nav-tabs{}
.register-form .nav-tabs .nav-link{
  background: #fff !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
  margin-right: 11px;
  font-size: 14px;
}
.register-form .nav-tabs .nav-link.active{
  background: #e9b70b !important;
  color: #fff !important;
  border:1px solid #fff !important;
}
.register-form .create{
    float: right;
    background: #e9b70b;
    color: #fff;
    border: 1px solid #e9b70b;
}
.register-form .create-new{float: left;margin: 0;padding: 0;color: #ccc;}




:root {
  --header-height: 3rem;
  --nav-width: 63px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 9999;
  transition: 0.5s;
  box-shadow: 1px -1px 4px #8b8b8b; background: #f8f8f8;
}
.header_toggle {
  color: var(--color-primary);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -40%;
  width: 175px !important;
  height: 100vh;
  background-color: #fff;
  padding: 0.5rem 1rem 0 0;
  transition: 0.2s;
  z-index: var(--z-fixed);
  color: #000;
  box-shadow: 1px 0px 5px #ccc;
}
.sidenav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 6px;
}
.nav_logo {
  margin-bottom: 30px;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: #7d7d7d;
  margin-bottom: 1.0rem;
  transition: 0.3s;
  margin-bottom: 10px;
}
.nav_link:hover {
  color: #000;
}
.nav_icon {
  font-size: 1.25rem;
}
.sideshow {
  left: 0;
}

.active {
  color: #e9b70b;
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .l-navbar {
    width: 63px;
  }
  .header {
      height: calc(var(--header-height) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
      width: 40px;
      height: 40px;
  }
  .header_img img {
      width: 45px;
  }
  .l-navbar {
      left: 0;
      padding: 10px;
  }
  .sideshow {
      width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
      padding-left: calc(var(--nav-width) + 188px);
  }
  .header{display: none !important;}
}



.orders{}
.orders .card-text{float: right;}
.orders h5{display: inline-block;}
.orders .img{margin-left: 10px;
  max-height: 140px;}
.orders .col-md-12{border-bottom: 1px solid #ccc;padding: 10px;margin-bottom: 10px;}
.orders .profile{max-width: 40px;border-radius: 100%;height: 40px;display: inline-block;}
.orders .btn{float: right;margin-bottom: 10px;}

.orders .card-body ul{list-style: none;padding: 0;}
.orders .card-body ul li{display: inline-block;margin-right: 36px;font-size: 14px;margin-bottom: 20px;}
.orders .card-body ul li p{font-size: 14px;margin: 0;}
.orders .card-body ul li i{}


.input-group-addon{
  background: #d3d3d3;
border-radius: 6px 0 0 6px;
padding: 10px 20px;
}

.margin-left{margin-left: 95px;}

/*--------------------------------------------------------------
# Profile
--------------------------------------------------------------*/




.header-banner{
    margin-bottom: 20px;display: inline-flex;height: 190px;width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.header-banner img{object-fit: cover;}
.profile-img{
    margin-top: -40px;
    display: inline-flex;
    margin-left: 20px;
    height: 110px;
}
.profile-img img{
    object-fit: cover;
}
.profile-info{
    display: inline-block;
    margin-left: 10px;
}
.profile-info h3{
    font-size: 20px;
    margin: 0;
}
.profile-info p{
    font-size: 14px;
    margin: 0;
}
.profile-info i{
    color: #fb9d3d;
}
.profile-gallery{
    margin-top: 40px;
}
.profile-gallery ul{
    list-style: none;
    padding: 0;
}
.profile-gallery ul li{
    display: inline-block;
}
.profile-gallery ul li a{
    display: inline-flex;
    height: 183px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.profile-gallery ul li a img{
    object-fit: cover;
}
.content.profile{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #b7b7b7;
}


.profile-gallery.upload{}
.profile-gallery.upload ul li a{border: 1px solid #ccc; text-align: center; padding: 24px 46px; height: auto; margin-bottom: 70px;}
.profile-gallery.upload ul li a i{text-align: center;font-size: 50px;color: #ccc;}



.profile-edit{
  margin-top: 40px;
}
.profile-edit ul{
  list-style: none;
  padding: 0;
}
.profile-edit ul li{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}
.profile-edit ul li span{
    width: 33%;
    display: inline-block;
}
.profile-edit ul li a{
    float: right;
}




.content.recommended {
  padding: 0;
  margin: 0;
}
.gallery-content{width: 90%;
  float: right;
  margin-top: 100px;
  padding: 20px;}
.gallery-content .gallery-left{float: left;
  width: 30%;
  background: rgba(0,0,0,0.5);
  color: #f7f7f7;
  padding: 10px 20px;}
.gallery-content .gallery-right{float: right;width: 70%;}


@media (max-width: 767px) {
  .margin-left{margin-left: 0px;}
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/


@media screen and (max-width: 786px) {

  .search{display: none !important;}
  .content{
    margin-top: 70px;
    padding: 10px;
  }
  .contentTabs ul li button {
    padding: 10px 12px;
    margin-right: 6px;
  }
  .cardbox{
    /*max-width: 300px;*/
  }
  .nominated-box{ /*max-width: 230px;*/}
  .l-navbar.sideshow{
    width: 190px !important;
    padding-top: 60px;
    padding-left: 15px;
  }
  .header.body-pd .header_toggle{
    color: #000;
    font-size: 29px;
  }
  .content.profile{margin-top: 90px;}

  body.login .content,
  body.login .footer{
    margin-left: 0px;
    margin-right: 0px;
  }
  .gallery-content .gallery-left{width: 100%;}
  .gallery-content .gallery-right{width: 100%;}

}

@media screen and (max-width: 992px) {

}





